stages:
 - build
 - upload

.generic_apt_build_template: &generic_apt_build
  apt-get update && apt-get -y upgrade &&
  apt-get install -y ca-certificates devscripts dpkg-dev equivs lsb-release &&
  export DEBEMAIL='brendonj@waikato.ac.nz' &&
  export DEBFULLNAME='Brendon Jones' &&
  export CODENAME=`lsb_release -c -s` &&
  mk-build-deps -i -r -t 'apt-get -f -y --force-yes' &&
  dpkg-buildpackage -b -us -uc -rfakeroot &&
  mkdir -p built-packages/$CODENAME/ || true &&
  mv ../*.deb built-packages/$CODENAME/

build-bionic:
  stage: build
  image: ubuntu:bionic
  script:
    - *generic_apt_build
  artifacts:
    paths:
      - built-packages/*
    expire_in: 1 day
  only:
    - tags

build-xenial:
  stage: build
  image: ubuntu:xenial
  script:
    - *generic_apt_build
  artifacts:
    paths:
      - built-packages/*
    expire_in: 1 day
  only:
    - tags

build-stretch:
  stage: build
  image: debian:stretch
  script:
    - *generic_apt_build
  artifacts:
    paths:
      - built-packages/*
    expire_in: 1 day
  only:
    - tags

build-jessie:
  stage: build
  image: debian:jessie
  script:
    - *generic_apt_build
  artifacts:
    paths:
      - built-packages/*
    expire_in: 1 day
  only:
    - tags

upload-packages:
  stage: upload
  image: ubuntu:bionic
  script:
    - ./bintray-upload.sh
  only:
    - tags
