Source: libnntsc-client
Section: libs
Priority: optional
Maintainer: Brendon Jones <brendonj@waikato.ac.nz>
Build-Depends: debhelper (>= 9.0.0), dh-python, python, python-pkg-resources, python-setuptools
Standards-Version: 3.9.3
Homepage: http://wand.net.nz/projects/details/storage-network-monitoring-and-measurement-data
#Vcs-Git: git://git.debian.org/collab-maint/nntsc.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/nntsc.git;a=summary

Package: libnntsc-client
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: Client API for NNTSC time series collector
 Client API that allows other programs to connect to the NNTSC
 measurement database and either ask for historical data or register
 interest in upcoming live data.
